<<<<<<< HEAD
@import url('http://font.googleapis.com/ css2?family=Poppins:wght@200;300;400;500;600;700;800;900;1000;1100;1200&display=swap');
=======
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

>>>>>>> a0a9c87e3c32c884431eedb7dd845b398fe1188e
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', san-serif;

}
/*------header----*/
header{
    height: 100vh;
    width: 100%;
    background-image:  linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)),url(images/work.jpg);
    background-size: cover;
    background-position: center;
}

/*------nav bar-----*/
nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #175fac;
    transition: .4s;
}
/*--------text box------*/
.text-box{
    text-align: center;
    padding-top: 65px;
}
.text-box h1{
    text-transform: capitalize;
    color: white;
    font-size: 80px;
    letter-spacing: 1px;
}
.text-box h3{
letter-spacing: 2px;
color: #fff;
}
/*------end of text-box----*/

/*------search box----*/
.search-box{
margin-top: 15px;
margin-left: 10px;
}
.search-box input:first-child{
    display: inline-block;
    width: 40%;
    padding: 10px 130px 10px 15px;
    border: 2px solid #8AA7C5;
    outline: none;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.search-box input:last-child{
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 10px 20px 8px;
    background-color: #8AA7C5;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #8AA7C5;
    right: 100px;
}
.search-box input:last-child:hover{
    cursor: pointer;
    transform: scale(1.2);
}
input:last-child:hover{
    box-shadow: 0 0 20px #8AA7C5;
}
/*-----search-box end-----*/
/*-----logo----*/
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
.logo span{
    color: #8AA7C5;
}
/*------logo end----*/

/*------services----*/
.Our-services{
    width: 100%;
    padding: 50px 0px;
    background-color: #191919;
    text-align: center;
}
.row{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.Our-services .row{
    font-size: 35px;
    margin: 60px;
    display: inline-block;
    padding: 10px 25px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.Our-services h3{
    text-transform: capitalize;
    color: white;
    padding-bottom: 35px;
    font-size: 45px;
}
.Our-services .row:hover{
    cursor: pointer;
    transform: scale(1.3);
}
.row:hover{
    box-shadow: 0 0 20px #538da8;
}
.service-col i{
    color: #175fac;
}

/*-------course-----*/
#course{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgb(0,0 0,0.05);
}
.course-box :hover
{
    cursor: pointer;
    transform: scale(1.0);
}
.course-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.course-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.course-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.course-box{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}
.course-img{
    width: 100%;
    height: auto;
}
.course-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.course-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.course-text span{
    color: #8AA7C5;
    font-size: 0.9rem;
}
.course-text .course-title{
font-size: 1.9rem;
font-weight: 500;
color: #272727;
text-decoration: none;
}
.course-text .course-title:hover{
    color: #8AA7C5;
    transition: all ease 0,3s;
}
.course-text{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.course-text a{
    cursor: pointer;
    color: #0f0f0f;
    text-decoration: none;
}
.course-text:hover{
    color: #8AA7C5;
    transition: all ease0.3s;
}

/*-------footer-----*/
.footer-container{
    max-width: 1170px;;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-container ul{
    list-style: none;
}
.footer{
    padding: 70px 0;
    background-color: #272727;
}
.footer-col
{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    color: #ffffff;
    margin-bottom: 35px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 8;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    text-align: justify;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none; 
  font-weight: 400;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
/*hover*/
.footer-col ul li a:hover{
    color: #ffffff;
    padding: 10px;
} 

<<<<<<< HEAD
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
=======
<<<<<<< HEAD
@media (max-width: 991px)
{
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}
/*---------footer end-------*/
