*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    box-sizing: border-box;
}
/*------header----*/
header{
    height: 100vh;
    width: 100%;
    background-image: url(images/header.png);
    background-size: cover;
    background-position: center;
}

/*------nav bar-----*/
nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #8AA7C5;
    transition: .4s;
}
/*--------text box------*/
.text-box{
    text-align: center;
}
.text-box h1{
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
}
.text-box h3{
letter-spacing: 2px;
color: #1B2236;
}
/*------end of text-box----*/

/*------search box----*/
.search-box{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.search-box input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #8AA7C5;
    outline: none;
    border-radius: 30px;
}
.search-box input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #8AA7C5;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #8AA7C5;
    top: 6px;
    right: 6px;
}
/*-----search-box end-----*/
/*-----logo----*/
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #8AA7C5;
}
/*------logo end----*/

/*-----------Login page-----*/

.container{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: rgba(162, 162, 165, 0.8);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    border-radius: 25px;
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)),url(images/work.jpg);

}
.inner-box{
    position: relative;
    width: 100%;
    height: 100px;
    transform-style: preserve-3d;
    transition: 1s;
}
.card-front,.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 55px; 
    box-sizing: border-box; 
    backface-visibility: hidden;
}
.card-back{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 1s;
}
.card h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.input-box{
    width: 100%;
    background: transparent;
    border: 1.5px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}
::placeholder{
    color: #fff;
    font-size: 16px;
}
button{
    width: 100px;
    background: transparent;
    border: 1px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 14px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    display: block ;
    color: #fff;
    cursor: pointer;
}
.submit-btn{
    position:inherit;
}

.span-a{
    font-size: 13px;
    margin-left: 10px;
}
.card .btn{
    margin-top: 70px;
}
.card a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
}
/*---------login end-------*/